.name {
  color: grey;
  font-weight: 600;
  font-size: 13px;
  height: 15%;
  overflow-x: hidden;
}

.imgCover {
  width: 50%;
  margin: auto;
  display: flex;
  height: 35%;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 21%;
}

.options p {
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 7%;
  overflow: hidden;
  height: 26%;
  white-space: nowrap;
  font-size: 13px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 1%;
}
.ratingReviews {
  display: flex;
  font-size: 90%;
  font-weight: 600;
  height: 6%;
}
.product p {
  border-radius: 5px;
  animation: loading 1s linear infinite alternate;
}
.imgCover,
.ratingReviews {
  border-radius: 5px;
  animation: loading 1s linear infinite alternate;
}
@media screen and (max-width: 480px) {
  .product {
    .ratingReviews {
      grid-column: 1/-1;
      height: 100%;
    }
    .name {
      grid-column: 1/-1;
      height: 90%;
    }
    .imgCover {
      grid-row: 3/-1;
      height: 90%;
      grid-column: 1/2;
      width: 90%;
      margin-left: 0px;
    }
    .options {
      height: 90%;
      grid-row: 4/5;
    }
  }
}
@keyframes loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
