.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  grid-template-rows: min-content;
  padding-bottom: 20px;
  column-gap: 15px;
  row-gap: 15px;
  width: 100vw;
  min-height: 100svh;
  background-color: white;
}
