.section {
  background-color: black;
  min-height: 100vh;
  padding-top: 10vh;
}

.container {
  color: white;
  height: 350px;
  display: flex;
  padding: 10px;
  max-width: max(400px);
  width: 95%;
  margin: 0px auto 0px auto;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 2px -1px white;
  flex-direction: column;
}

.container > h1 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.password,
.confirmPassword {
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}
.container label {
  font-size: large;
}
.container input {
  padding-left: 5px;
  width: 60%;
  border-top: none;
  border-bottom: none;
  margin-left: auto;
  border-color: white;
  border-radius: 5px;
  height: 1.7rem;
  outline: none;
  font-size: medium;
}

.container button {
  background: linear-gradient(to right top, #8ebcff, #e5f1ff);
  margin: 25px auto 20px auto;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  color: black;
  padding: 10px;
  font-weight: bold;
}

.container > p {
  display: flex;
  align-items: center;
  line-height: 1.3rem;
  flex-direction: column;
}

.container > p a {
  color: #74d3ff;
  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .container > h1 {
    font-size: medium;
  }
  .container label {
    font-size: medium;
  }
  .container > p {
    font-size: 14px;
  }
}
