.section {
  background-color: black;
  --one: max(1px, 0.1vh);
  --hundred: max(100px, 10vh);
  --fifteen: max(15px, 1.5vh);
  --twenty: max(20px, 2.1vh);
  min-height: 100vh;
  padding-top: 10vh;
}

.container {
  color: white;
  height: 350px;
  display: flex;
  padding: 10px;
  max-width: max(400px);
  width: 95%;
  margin: 0px auto 0px auto;
  border-radius: 1rem;
  box-shadow: inset var(--one) var(--one) 2px -1px white;
  flex-direction: column;
}

.container > h1 {
  font-size: var(--twenty);
  margin-top: 5px;
  margin-bottom: 20px;
}

.password,
.confirmPassword {
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.container input {
  padding-left: 5px;
  width: 60%;
  border-top: none;
  border-bottom: none;
  margin-left: auto;
  border-color: white;
  border-radius: 5px;
  height: 1.7rem;
  outline: none;
  font-size: medium;
}

.container button {
  margin: auto;
  width: 40%;
  appearance: none;
  background-color: black;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: white;
  color: white;
  font-weight: 600;
  cursor: pointer;
  line-height: 1em;
  opacity: 1;
  outline: 0;
  padding: 0.7rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.container button:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #000000a4;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.container button:hover:before {
  border-radius: 3px;
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.container > p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.3rem;
}

.container > p a {
  color: #74d3ff;
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
  .container {
  }
  .container > h1 {
    font-size: medium;
  }

  .container > p {
    font-size: small;
  }
}
