.section {
  background-color: black;
  min-height: 100vh;
  padding-top: 20px;
  color: white;
}

.form {
  row-gap: 0.4em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10svh auto 0px auto;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 2px -1px white;
  flex-direction: column;
  animation: fromAnimation infinite 1s alternate ease-in-out;
  font-size: large;
}

@keyframes fromAnimation {
  from {
    transform: translateY(3px);
  }

  to {
    transform: translateY(-3px);
  }
}
.featureInfo {
  line-height: 1.5rem;
}

.form > h1 {
  font-size: x-large;
  margin: 0.1em 0px 0.5em 0.2em;
}

.form > label {
  display: flex;
  margin-top: 0.6em;
}

.form > input {
  border-radius: 0.3em;
  font-size: 15px;
  padding: 2px 5px;
  padding-left: 0.5em;
  transition: background-color 400ms ease-in-out;
  background-color: rgb(255 255 255 / 10%);
  border: none;
  box-shadow: 1px 1px 0px 0px #ffffff47;
  color: #b8b8b8;
  outline: none;
  height: max(26px, 2.6svh);
}
.form > input:focus {
  color: white;
  background-color: rgb(255 255 255 / 20%);
}
.form > .login {
  background: linear-gradient(to right top, #8ebcff, #e5f1ff);
  margin: 15px auto 20px auto;
  width: 35%;
  max-width: 120px;
  height: 35px;
  cursor: pointer;
  font-weight: 600;
  font-size: large;
  border: none;
  border-radius: 0.5em;
  color: black;
}

.form .forgotPassword {
  margin-left: auto;
  cursor: pointer;
  width: fit-content;
  color: white;
  animation: forgotPasswordButton infinite 6s alternate ease-in-out;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
}

.form a {
  color: #74d3ff;
  line-height: 1.5rem;
}

.form > a {
  margin-left: auto;
}

.policy a {
  line-height: 1.5rem;
}

@keyframes forgotPasswordButton {
  from {
    box-shadow: inset 200px 50px 0px 0px black;
  }

  to {
    box-shadow: inset 0px 0px 0px 0px rgb(41, 41, 41);
  }
}

@media screen and (max-width: 480px) {
  .form {
    width: 98%;
    font-size: 14px;
  }

  .form > h1 {
    font-size: large;
  }
  .policy {
    font-size: 13px;
  }
  .form .forgotPassword {
    font-size: small;
    margin-top: 0px;
  }

  .form > .login {
    margin: 5px auto 10px auto;
  }
}
