.header {
  background-color: black;
  display: flex;
  box-shadow: 0px 1px 3px 0px gray;
  height: max(5vh, 50px);
  align-items: center;
  width: 100%;
  z-index: 5;
  position: fixed;
  top: 2px;
  border-radius: 5px;

  .openProfile,
  .filterInput {
    display: none;
  }
}

.orders {
  position: relative;
  display: block;
}

.orders svg {
  width: 35px;
}

.searchBar {
  margin-left: auto;
  height: 100%;
  position: relative;
}
.form {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  width: max(450px, 30svw);
}

.form svg {
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.form > .input {
  font-size: max(1.5vh, 13px);
  width: 80%;
  padding-left: 10px;
  padding-right: 30px;
  height: 75%;
  outline: none;
  color: white;
  background-color: transparent;
  border-radius: 5px 0px 0px 5px;
  border: none;
  box-shadow: inset 0px 0px max(0.4vh, 5px) 0px white;
}

.input::placeholder {
  color: white;
}

.form div {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.button {
  width: 40px;
  height: 75%;
  border: none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.button svg {
  height: 100%;
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  box-shadow: inset 2px 0px 0px 0px #f1f1f1;
}

.searchCancel {
  width: 30px;
  position: absolute;
  left: -25px;
}

.searchKeys {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: fit-content;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 500ms ease-in-out;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-color: white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.searchKeys svg {
  background-color: #f1ecec;
  border-radius: 5px;
  margin-right: 5px;
  height: 25px;
  max-width: 25px;
  cursor: pointer;
}

.searchKeys div {
  width: calc(80% + 40px);
  justify-content: space-between;
  padding: 3px 5px;
  border-radius: 5px;
  display: flex;
  background-color: white;
  align-items: center;
}

.searchKeys div:first-child {
  margin-top: 10px;
}

.searchKeys div:last-child {
  margin-bottom: 10px;
}

.searchKeys div:hover {
  background-color: rgb(170, 176, 181);
}

.searchKeys div p {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: black;
}

.cart {
  margin-left: 5px;
  margin-right: 60px;
  display: flex;
  position: relative;
}
.cart span {
  position: absolute;
  top: 5%;
  color: black;
  left: 43%;
}
.cart svg {
  width: 35px;
}
.filterLabel {
  z-index: 5;
  position: fixed;
  top: 7px;
  width: 45px;
  right: 5px;
  display: flex;
  background-color: #000;
}
.filterLabel svg {
  height: max(4vh, 40px);
  width: 30px;
}
.sortBy {
  position: fixed;
  z-index: 2;
  top: 60px;
  right: 5px;
  background: white;
  max-height: 0px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  overflow: hidden;
  transition: max-height ease-in-out 0.3s;
  box-shadow: inset 0px 0px 0px 1px black;
  border-radius: 5px;
}

.sortBy > span {
  font-size: 14px;
  margin-top: 5px;
  padding-left: 5px;
  background-color: #8b8b8b2b;
}

.sortBy > span:last-child {
  margin-bottom: 5px;
}
.sortBy p {
  font-size: 11px;
  color: red;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
  .sortBy > span {
    font-size: 15px;
  }

  .sortBy > span:hover {
    background-color: #3598d32b;
  }

  .filterLabel:hover ~ .sortBy {
    max-height: 200px;
  }
  .sortBy:hover {
    max-height: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .form {
    width: max(268px, 86svw);
  }
  .searchKeys {
    left: -14svw;
    background-color: white;
    width: 100svw;
  }

  .cart {
    margin-right: max(2%, 5px);
  }
  .searchKeys div {
    margin-left: unset;
    background-color: rgb(224, 232, 238);
    padding: 2px 5px;
    margin-top: 2px;
    width: 100%;
    font-size: 14px;
  }
  .searchKeys .deleteSvg {
    margin-right: 0px;
  }
  .filterLabel {
    width: 40px;
    right: 0px;
  }
  .filterLabel svg {
    margin-left: auto;
    margin-right: auto;
  }

  .filterInput:checked ~ .sortBy {
    max-height: 200px;
  }
}
